<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707744483232-9o6l5tp0rkg8i54b647epqq9n9om43pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707744483232-9o6l5tp0rkg8i54b647epqq9n9om43pb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>707744483232-144t188ftq41hftsuf272kuemh69gcsa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAa8lDyPv9mYDRya9r6LL-3kiLrn_oFLP0</string>
	<key>GCM_SENDER_ID</key>
	<string>707744483232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realtimeDatabaseApp</string>
	<key>PROJECT_ID</key>
	<string>realtime-demo-a5562</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-demo-a5562.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707744483232:ios:8d98d90ff336c94a0ac6c5</string>
	<key>DATABASE_URL</key>
	<string>https://realtime-demo-a5562-default-rtdb.firebaseio.com</string>
</dict>
</plist>